# SETIAP PERUBAHAN WAJIB RE RUN SERVER, AGAR ENV TERUPDATE

# ==========================================
# SERVER CONFIGURATION
# ==========================================
PORT=3000

# ==========================================
# SECURITY & AUTHENTICATION
# ==========================================
# Secret key untuk enkripsi token JWT (Gunakan karakter acak & panjang)
# Contoh:IAdbadjbaheyawhanjd8adajnawmashcahBHASCVgahvBANBSChva
JWT_SECRET=

# Key untuk akses API (Header: x-api-key)
APIKEY=GARINGANTENG

# ==========================================
# DATABASE (SUPABASE / POSTGRESQL)
# ==========================================
# Format: postgresql://[user]:[password]@[host]:[port]/[dbname]
# Format SUPABASE: Pilih Connection String dan rubah Connection Method menjadi Transaction Pooler (contohLink: postgresql://postgres.agarinnssozxz:[YOUR-PASSWORD]@aws-5-ap-northest-1.pooler.supabase.com:6543/postgres)
DATABASE_URL=

# ==========================================
# PILKETOS SYSTEM SETTINGS
# ==========================================
# MODE PEMILIHAN:
# BERPENGARUH DI TEKS BERITA ACARA
# 1 = Pemilihan Ketua saja (Single)
# 2 = Pemilihan Ketua & Wakil (Paslon)
E_VOTING_MODE=1

# Kode Reset Digunakan Untuk Validasi RESET STATUS PESERTA/PEMILIH, dari yang awalnya Sudah Memilih menjadi Belum Memilih
KODE_RESET=PILKETOS

# NAMA ORGANISASI YANG MELAKSANAKAN 
# (contoh: ORGANISASI SISWA INTRA SEKOLAH(OSIS) atau MAJELIS PERMUSYAWARATAN KELAS(MPK) )
# BERPENGARUH DI TEKS BERITA ACARA
# JANGAN HILANGKAN TANDA " " AGAR TIDAK ERROR
NAMA_ORGANISASI="ORGANISASI SISWA INTRA SEKOLAH(OSIS)"

# Tahun saat pemilihan dilaksanakan (Mempengaruhi hitungan Masa Bakti di PDF/berita acara)
TAHUN_PELAKSANAAN=2026
