# ==============================================================================
# PILKETOS SYSTEM - ENVIRONMENT VARIABLES
# PENTING: Setiap perubahan wajib RESTART server agar data terupdate!
# ==============================================================================

# --- SERVER CONFIGURATION ---
PORT=3000

# --- SECURITY & AUTHENTICATION ---
# Gunakan karakter acak & panjang untuk JWT_SECRET
JWT_SECRET=IAdbadjbaheyawhanjd8adajnawmashcahBHASCVgahvBANBSChva
APIKEY=GARINGANTENG

# --- DATABASE (SUPABASE / POSTGRESQL) ---
# Gunakan Transaction Pooler (port 6543) jika menggunakan Supabase di Vercel
DATABASE_URL=postgresql://postgres.agarinnssozxz:[YOUR-PASSWORD]@aws-5-ap-northest-1.pooler.supabase.com:6543/postgres

# --- CLOUDINARY STORAGE (IMAGE UPLOADS) ---
# Diperlukan untuk penyimpanan foto kandidat karena sistem file Vercel bersifat Read-Only
CLOUDINARY_CLOUD_NAME=dehetwuek
CLOUDINARY_API_KEY=142352663833459
CLOUDINARY_API_SECRET=clelJUDM-SCSMLtLkcWCvfKehCQ

# --- PILKETOS SYSTEM SETTINGS ---
# E_VOTING_MODE: 1 = Ketua Saja, 2 = Paslon (Ketua & Wakil)
E_VOTING_MODE=1
KODE_RESET=PILKETOS
TAHUN_PELAKSANAAN=2026

# --- ORGANIZATION INFO ---
# Digunakan untuk Header & Berita Acara (Gunakan tanda kutip jika ada spasi/simbol)
NAMA_ORGANISASI="ORGANISASI SISWA INTRA SEKOLAH (OSIS)"
